<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
    <style>
        .layout {
            width : 500px;
            margin : 0 auto;
            margin-top : 40px;
        }

        .div{
       margin-top:0px;
       width:100%;
       height:40px;
       background:#005000;
       list-style:none;
       position:fixed;
       }
    </style>
</head>
<body>
<div class="div">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" id="btn1" onclick="location.href='/homepage'">
        <img class="logo" src="/static/images/logo.png" alt="logo" width="80px" height="38px"  >
    </button></div>

    <div class="layout">
        <table>
            <thead>
            <tr th:if="${share == true}"><h1>공유게시판</h1></tr>
            <tr th:if="${share == false}"><h1>개인게시판</h1></tr>
                <tr>
                    <th>글번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="board : ${list}">
                    <td th:text="${board.txtnum}">1</td>
                    <td th:if="${share == true}"><a th:text="${board.title}" th:href="@{/shareboard/view(id=${board.txtnum})}"></a></td>
                    <td th:if="${share == false}"><a th:text="${board.title}" th:href="@{/board/view(id=${board.txtnum})}"></a></td>
                </tr>
            </tbody>
        </table>

        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">

            <a th:if="${page != nowPage} and ${page} != 0 and ${share == true}" th:href="@{/shareboard/list(page = ${page-1})}" th:text="${page}"></a>
            <a th:if="${page != nowPage} and ${page} != 0 and ${share == false}" th:href="@{/board/list(page = ${page-1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}"></strong>

        </th:block>
    </div>
</body>
</html>