<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>개인정보 수정</title>
</head>
<body>
<h3>개인정보</h3>
<div class="layout">
    <form action="/member/signup" method="post">
        <label>이름&nbsp;</label>
        <input name="name" type="text"><br>
        <label>닉네임&nbsp;</label>
        <input name="nickname" type="text"><br>
        <label>성별&nbsp;</label>
        <input name="gender" type="radio"> <label>남&nbsp;</label>
        <input name="gender" type="radio"> <label>여&nbsp;</label><br>
        <label>생년월일&nbsp;</label>
        <input name="birthday" type="date"><br>
        <label>키&nbsp;</label>
        <input name="height" type="text">
        <label>cm&nbsp;</label><br>
        <label>체중&nbsp;</label>
        <input name="weight" type="text">
        <label>kg&nbsp;</label><br>
        <label>활동량&nbsp;</label>
        <input name="gender" type="radio"> <label>적음&nbsp;</label><input name="gender" type="radio">
        <label>보통&nbsp;</label><input name="gender" type="radio"> <label>많음&nbsp;</label><br>
        <button type="save">저장</button>
        <button type="cancel">취소</button>
    </form>
</div>
</body>
</html>




