<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <style>
        body{
       background-color: #FAF4C0;
       text-align: center;
            }
    </style>
</head>
<body>
    <form action="/member/mymainpage" method="post">
        <div>
        <label>ID&nbsp;</label>
        <input name="id" type="text"><br><br></div>
        <div>PW&nbsp;</label>
        <input name="password" type="text"><br><br>
        <button type="submit">로그인</button>
    </form>

</body>
</html>




